h2 {
    color: gray;
}

.table-text-color {
    color: gray;
}

.navbarLoggo {
    /* height: 120px; width:auto; margin-top: 10px; */
    height: 145px;
    width: auto;
    margin-top: 50px;
}

.hero-section {
    background-image: url("/Systementor Zoo/images/zoo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section-blur {

    backdrop-filter: blur(6px) saturate(102%);
    -webkit-backdrop-filter: blur(6px) saturate(102%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

}

.zoo-img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    
    /* beskär snyggt istället för att trycka ihop */
}

.zoo-feature-img {
    width: auto;
    height: 250px;
    /* ändra till 350px om du vill större */
    object-fit: cover;
    /* beskär snyggt */
    border-radius: 15px;
    /* lite mjukare design */
}

.animal-table-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 15px


    
}

.animal-card {
    background-color: #f5f3e7;
    border-radius: 16px;
}


.animal-mini-table {

    --bs-table-bg: transparent;
    
    

}

.card {
    width: 400px;
    padding: 80px 50px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2)
}

.card h3 {
    color: #111;
    margin-bottom: 50px;
    border-left: 5px solid #f5f3e7;
    padding-left: 10px;
    line-height: 1em
}

.inputbox {
    margin-bottom: 50px
}

.inputbox input {
    position: absolute;
    width: 300px;
    background: transparent
}

.inputbox input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f5f3e7;
    outline: 0;
    box-shadow: none
}

.inputbox span {
    position: relative;
    top: 7px;
    left: 1px;
    padding-left: 10px;
    display: inline-block;
    transition: 0.5s
}

.inputbox input:focus~span {
    transform: translateX(-10px) translateY(-32px);
    font-size: 12px
}

.inputbox input:valid~span {
    transform: translateX(-10px) translateY(-32px);
    font-size: 12px
}




.facebook-logo{
    background-color: #3b5998;
}
.facebook-logo:hover {
    background-color: #3b5998;
}


.linkedin-logo {
    
    background-color: #0082ca;
}
.linkedin-logo:hover {
    background-color: #0082ca;
}


.google-logo {
    background: #dd4b39;

}

.google-logo:hover {

    background: #dd4b39;

}

.instagram-logo {

    background: radial-gradient(circle at 30% 110%, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
}

.twitter-logo{
    background-color: #55acee;

}
.twitter-logo:hover{
    background-color: #55acee;

}